.Ee{
    text-align: center;
    color: rgb(71, 69, 69);

}
body{
    background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/sc77e1e58a42c514a/image/i4f1b8583d0f2b8a5/version/1516578954/image.jpg);
    margin: 0;
    padding: 0;
    
}